#logIn {
    align-items: center;
    text-align: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#logIn Button {
    background-color: red;
}

#logIn h2 {
    font-weight: 800;
}